//nexus.bizseer.com/repository/npm-group/:_authToken=NpmToken.3c6beb32-74df-3ac9-b74c-56bdb85cc475
//nexus.bizseer.com/repository/npm-private/:_authToken=NpmToken.3c6beb32-74df-3ac9-b74c-56bdb85cc475
//nexus.bizseer.com/repository/:_authToken=NpmToken.3c6beb32-74df-3ac9-b74c-56bdb85cc475
